.header {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
    background: white;
}

.header-navigation {
    width: 70%;
}

.header-navigation-block {
    background: #007bff;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    align-items: baseline;
}

.header-navigation-element {
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
}

.header-navigation-element a {
    font-weight: 0.1;
    text-decoration: none;
    color: white;
    padding-bottom: 0.5rem;

}

.header-site-logo a {
    font-weight: 900;
    font-size: 1.3rem;
}

.nav-active {
    border-bottom: 2px solid white;

}

.header-contacts {

}

.header-contacts-button {
    border: 1px solid #007bff;
    color: black;
    padding: 5px 15px;
    position: relative;
    top: 13%;
    left: 120%;
    font-size: 20px;
    font-weight: 0.1;
    border-radius: 0.25em;
    transition: .3s all ease;
}

.header-contacts-button:hover {
    background: #007bff;
    color: white;

}

.intro {
    display: flex;
    height: 100vh;
    min-height: 900px;
}

.intro-text {
    width: 70%;
    height: 700px;
    background: #007bff;
    color: white;
}

.intro-text-block {
    width: 40%;
    padding: 15% 20% 0 0;
    margin: 0 auto;
}

.intro-text-block h1 {
    font-size: 3rem;
    font-weight: 900;
    color: #fff;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}

.intro-text-block p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.1rem;
    max-width: 400px;
    margin-bottom: 3rem;
}

.intro-img {
    width: 600px;
    height: 600px;
    box-shadow: -6px 4px 15px 9px rgba(0, 0, 0, 0.4);
    position: absolute;
    right: 3rem;
    margin-top: 2rem;
}

.intro-text-button {
    border: 1px solid white;
    color: white;
    padding: 1rem 3rem;
    background: none;
    font-size: 12px;
    font-weight: 900;
    border-radius: 0.25em;
    transition: .3s all ease;
    margin-top: 1rem;
    text-transform: uppercase;
}

.intro-text-button:hover {
    background: white;
    color: black;
}

.title--big {
    font-size: 3rem;
    color: #000;
    margin-bottom: 1.8rem;
    font-weight: 900;
    max-width: 450px;
    line-height: 1.2;
}

.title--small {
    color: #007bff;
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: 900;
    margin-bottom: 1.5rem;
}

.about {
    margin-top: 10rem;
    padding: 10em 0;
}

.about-container {
    max-width: 960px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

.about-column{
    margin-bottom: 3rem;
    flex: 0 0 50%;
    max-width: 50%;

}

.about-metrics {
    margin-top: 3rem;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex: 0 0 50%;
}

.about-metrics-elem {

    margin-bottom: 3rem;
    display: flex;

    flex: 0 0 50%;
    max-width: 50%;
}

.icon-wrap {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.counter-text strong {
    line-height: 0.5;
    font-size: 3.5rem;
    display: block;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin-bottom: 1rem;
}

.counter-text span {
    font-size: 1rem;
    line-height: 1;
}

i {
    color: #007bff;
}
.background{
    background: url("../img/vynil.webp") 100% 100% no-repeat;
    background-size: cover;

}

.box {
    position: relative;
    background: #007bff;
    padding: 30px;
    max-width: 300px;
    top: -20%;
    right: -20%;}
.box h3 {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 1.5rem;
}
.box p {
    color: rgba(255, 255, 255, 0.55);
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.icon-wrap {
    color: #fff;
    margin-bottom: 1.5rem;
    font-size: 2rem;
}
.icon-wrap > span > i {
    color: #fff;}